<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{!-- font from google font-family: 'Montserrat', sans-serif; --}}
    <title>Tech Blog</title>
</head>
<body>
<header class = "placeholder">
    <nav class = "nav">
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/">home</a>
            </li>
        </ul>
    </nav>
    </header>
<main>
{{!-- HandleBars --}}
</main>

</body>
</html>