      <h2 class="title">Create a new account below:</h2><hr>
      <form class="signup-form">
        <div>
          <label for="username">Username:</label>
          <input type="text" placeholder="Enter a Username" id="username-signup" />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" placeholder="Enter your Email" id="email-signup" />
        </div>
        <div>
          <label for="psw">Password:</label>
          <input type="password" placeholder="Enter Password" id="password-signup" />
        </div>
        <div>
          <button type="submit" class="button is-primary">signup</button>
        </div>
      </form>
      </div>
      <!-- javascript file-->
      <script src="/javascript/signup.js"></script>